{% extends "menu.html" %}
{%block menu%}


<table class="table table-hover">
    <tbody>
    <div class="row" style="">
        {%for produto in produto_paginado%}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">

                    <!--                    <img src="{{ produto.imagem.url }}" width="215" height="285">-->
                    <a class="btn btn-sm btn-outline-secondary"
                       href="{% url 'apploja:telaDeDetalhe' id=produto.id %}"> <img
                            src="{{ produto.imagem.url }}" width="215" height="285"></a>
                    {% for estoque in produto.estoque %}
                    {{estoque.nome}} <br>

                    Marca: {{estoque.marca}}

                    {%endfor%}
                </div>
            </div>
            <br>
        </div>
        {%endfor%}
    </div>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            {% if produto_paginado.has_previous %}
            <a href="?page={{ produto_paginado.previous_page_number }}"> Anterior </a>
            {% endif %}
        </li>
        <li class="page-item"><span class="current">
            Pagina {{ produto_paginado.number }} de {{ produto_paginado.paginator.num_pages }}
        </span></li>
        <li class="page-item">
            {% if produto_paginado.has_next %}
            <a href="?page={{ produto_paginado.next_page_number }}"> Proxima </a>
            {% endif %}
        </li>
    </ul>
</nav>


{%endblock%}


