{% extends "base.html" %}
{% block conteudo %}

<title> LOJA PAM </title>
<style type='text/css'>
body{background:#F8F8FF;color:#FFA500;font-family:georgia;margin:0px;width:98%;height:auto;padding:1%;}
img{float:right;width:70%;height:90%;}
h1{color:#FFA500;font-size:120%;;text-align:center;clear:both;}
a:link, a:visited{color:#33ccff;}
marquee{width:98%;height:auto;padding:1%;color:#000000;background:#8c7853;}
h2{color:#99cc33;}
p{color:#000000;font-size:90%;}
</style>

<h1> LOJA PAM </h1>
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-empresas" role="tabpanel"
         aria-labelledby="v-pills-empresas-tab">
    </div>
</div>
{% block menu %}

{%endblock%}
{%endblock%}
