{% extends "menu.html" %}
{%block menu%}
{% load static %}


<!-- Page Content -->
<div class="container">


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid-pamela" src="{% static 'desconto.png' %}" width="1120"
                     height="368" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid-pamela" src="{% static 'PROMOCAO.png' %}" width="1112"
                     height="368" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid-pamela" src="{% static 'carro.png' %}" width="1112"
                     height="368" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
           data-bs-slide="prev">
            <!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
           data-bs-slide="next">
            <!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<br>
<br>

<table class="table table-hover">
    <tbody>
    <div class="row" style="">
        {%for produto in produto_paginado%}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">

                    <!--                    <img src="{{ produto.imagem.url }}" width="215" height="285">-->
                    <a class="btn btn-sm btn-outline-secondary"
                       href="{% url 'apploja:telaDeDetalhe' id=produto.id %}"> <img
                            src="{{ produto.imagem.url }}" width="215" height="285"></a>
                    {% for estoque in produto.estoque %}
                    <div class="row">
                        {{estoque.produto.nome}}<br>
                        R$ {{estoque.produto.valor}}<br>

                        <div class="border border-light p-2 mb-3">
                            <div class="text-center">
                                <button type="button" onclick="{% url 'apploja:telaDeDetalhe' id=produto.id %}"
                                        class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Comprar
                                </button>
                            </div>

                        </div>
                    </div>
                    {%endfor%}

                </div>


            </div>
            <br>
        </div>
        {%endfor%}
    </div>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            {% if produto_paginado.has_previous %}
            <a href="?page={{ produto_paginado.previous_page_number }}" style="color:#dc79aa;"> Anterior </a>
            {% endif %}
        </li>
        <li class="page-item"><span class="current">
            Pagina {{ produto_paginado.number }} de {{ produto_paginado.paginator.num_pages }}
        </span></li>
        <li class="page-item">
            {% if produto_paginado.has_next %}
            <a href="?page={{ produto_paginado.next_page_number }}"> Proxima </a>
            {% endif %}
        </li>
    </ul>
</nav>

</div>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
{%endblock%}


</div></div>
