{% extends "menu.html" %}
{%block menu%}
{% load static %}


<div class="col align-self-start">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    {%for estoque in estoques%}
                    <h5 class="card-title" align="center">{{estoque.nome}}</h5>
                    {%endfor%}
                    <img align="right" src="{{ produto.imagem.url }}" alt="Card image cap" width="300" height="">
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Descrição do Produto: </h5>
                    <div class="col">
                        {%for estoque in estoques%}
                        {{estoque.produto.nome}}
                        <br>
                        Quantidade: {{estoque.quantidade}}
                        <br>
                        Marca: {{estoque.marca}}
                        <br>
                        Material: {{estoque.material}}
                        <br>
                        Cor: {{estoque.cor}}
                        <br>
                        Tamanho: {{estoque.tamanho}}
                        <br>
                        Valor: R$ {{estoque.produto.valor}}
                        <br>
                        {%endfor%}

                    <br>


                    <div class="border border-light p-2 mb-3">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Comprar</button>
                        </div>
                        <!--                        href="{% url 'apploja:telaDeDetalhe' id=produto.id %}-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}


