{% extends "menu.html" %}
{%block menu%}

<table class="table table-hover">
    <tbody>

    <div class="row" style="">
        {%for produto in produtos%}

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <h1>{{produto.nome}}</h1>

                    <img src="{{ produto.imagem.url }}" width="298" height="320">

                    </tr>
                </div>
            </div>
            <br>
        </div>
        {%endfor%}
    </div>

    </tbody>

</table>


{%endblock%}


